@use 'reset';
@use 'variables/global';
@use 'themes/light';
@use 'themes/dark';
@use 'themes/violet';

.app {
    font: var(--font-m);
    background: var(--bg-color);
    color: var(--primary-color);
    min-height: 100vh;
}

.content-page {
    display: flex;
}

.page-wrapper {
    flex: 1;
    padding: 20px 20px 20px 45px;
    height: calc(100vh - var(--navbar-height));
    overflow-y: auto;
}
