.articleDetails {
    min-height: 100%;
}

.avatar {
    margin: 0 auto;
}

.title {
    margin-top: 44px;
}

.skeleton {
    margin-top: 10px;
}

.articleInfo {
    margin-top: 5px;
    display: flex;
    gap: 5px;
    &:first-child {
        margin-top: 10px;
    }
}
