.button {
    cursor: pointer;
}

.clear {
    border: none;
    background: none;
    outline: none;
}

.outline {
    padding: 5px 20px;
    border: 1px solid var(--primary-color);
    background: none;
    color: var(--primary-color);
    border-radius: 5px;
}
