.sidebar {
    position: relative;
    height: calc(100vh - var(--navbar-height));
    width: var(--sidebar-width);
    background: var(--inverted-bg-color);
    transition: width 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    padding: 10px 20px;

    .switchers {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    .items {
        flex: 1;
        padding-top: 20px;
    }

    .collapseBtn {
        position: absolute;
        bottom: 32px;
        right: -32px;
        z-index: 10;
    }

    .collapsed {
        width: var(--sidebar-width-collapsed);

        .switchers {
            flex-direction: column;
        }
    }
}


.sidebar_redesigned {
    background: var(--light-bg-redesigned);
    display: flex;
    flex-direction: column;
    width: 220px;
    border-radius: 32px;
    height: 100%;
    position: relative;

    .appLogo {
        padding-top: 20px;
    }

    .items {
        flex: 1;
        margin-top: 40px;
        //padding: 0 20px;
    }

    .collapseBtn {
        position: absolute;
        top: 50%;
        right: 0;
        z-index: 10;
        transform: rotate(90deg);
        transition: transform 0.3s ease-in-out;
    }

    .switchers {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        padding-bottom: 30px;
    }

}

.collapsed_redesigned {
    width: 50px;

    .collapseBtn {
        transform: rotate(270deg);
    }

    .items {
        padding: 0;
        align-items: center;
    }

    .switchers {
        flex-direction: column;
    }
}