.link {
    display: flex;
    align-items: center;
    gap: 10px;
}

.icon {
    fill: var(--inverted-secondary-color);
}

.linkText {
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
    flex: 1;
}

.collapsed {
    width: var(--sidebar-width-collapsed);

    .linkText {
        opacity: 0;
        width: 0;
    }
}
