.articlespagefilters {
    display: block;
}

.sortWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search {
    margin-top: 1rem;
}

.tabs {
    margin-top: 1rem;
}
