.items {
    min-width: var(--button-width);
    background: var(--inverted-secondary-color);
    border-radius: 3px;
    box-shadow: 3px 3px 5px var(--inverted-primary-color);
    padding: 10px 2px;
    display: flex;
    flex-direction: column;
    gap: 3px;

    --anchor-gap: 5px;
}

.item {
    padding: 5px 10px;
    border-radius: 3px;
    border: none;
}

.focus {
    background: var(--primary-color);
    color: var(--inverted-primary-color);
}
