.trigger {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;

  --anchor-gap: 5px;
}

.panel {
  min-width: var(--button-width);
  background: var(--inverted-secondary-color);
  border-radius: 3px;
  box-shadow: 3px 3px 5px var(--inverted-primary-color);
  padding: 10px 2px;
  display: flex;
  flex-direction: column;
  gap: 3px;

  --anchor-gap: 5px;
}
