.trigger {
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;

    --anchor-gap: 5px;
}

.panel {
    min-width: var(--button-width);
    background: var(--dark-bg-redesigned);
    border-radius: 18px;
    border: 1px solid var(--accent-redesigned);
    //padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 3px;
    overflow: hidden;

    --anchor-gap: 5px;
}
