.wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.select {
  padding: 2px 10px 2px 2px;
  background: transparent;
  border: 1px solid var(--primary-color);
  outline: none;
  color: var(--primary-color);
}

.option {
  color: var(--inverted-primary-color);
  background: var(--inverted-bg-color);
}