.app.dark {
  --bg-color: #03033c;
  --inverted-bg-color: #8c8c9c;

  --primary-color: #096009;
  --secondary-color: #23a823;
  --inverted-primary-color: #2626b5;
  --inverted-secondary-color: #4141d8;
}