.app_dark_theme {
    --bg-color: #03033c;
    --inverted-bg-color: #8c8c9c;
    --primary-color: #23a823;
    --secondary-color: #096009;
    --inverted-primary-color: #4141d8;
    --inverted-secondary-color: #2626b5;
    --skeleton-color: #1515e8;
    --skeleton-shadow: #2b2be8;
    --code-bg: #0e0eaf;
}
