.app {
    --bg-color: #8c8c9c;
    --inverted-bg-color: #03033c;
    --primary-color: #2626b5;
    --secondary-color: #4141d8;
    --inverted-primary-color: #096009;
    --inverted-secondary-color: #23a823;
}
