.app_violet_theme {
    --bg-color: #f7f4fb;
    --inverted-bg-color: #2e0e52;
    --primary-color: #17237d;
    --secondary-color: #f7f4fb;
    --inverted-primary-color: #f7f4fb;
    --inverted-secondary-color: #f7f4fb;
}
