.app_violet_theme {
  --bg-color: #F7F4FB;
  --inverted-bg-color: #2e0e52;
  --primary-color: #17237D;
  --secondary-color: #F7F4FB;
  --inverted-primary-color: #F7F4FB;
  --inverted-secondary-color: #F7F4FB;
}
