.navbar {
    width: 100%;
    height: var(--navbar-height);
    background: var(--inverted-bg-color);
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 10px 20px;
}

.title {
    width: var(--sidebar-width);
}

.logo {
    align-self: flex-start;
}

