.button {
    padding: 8px 20px;
    cursor: pointer;
    transition: opacity 0.2s;
    display: flex;
    align-items: center;
    gap: 1rem;
    color: var(--text-redesigned);

    &:hover {
        opacity: 0.7;
        color: var(--accent-redesigned);

        & svg {
            color: var(--accent-redesigned);
        }
    }
}

.clear {
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    outline: none;
}

.outline {
    background: none;
    //border: 2px solid var(--icon-redesigned);
    border-radius: 34px;

    &.normal {
        border: 2px solid var(--icon-redesigned);

        &:hover {
            color: var(--accent-redesigned);
            border: 2px solid var(--accent-redesigned);

            & svg {
                color: var(--accent-redesigned);
            }
        }
    }
    &.error {
        border: 2px solid var(--cancel-redesigned);

        &:hover {
            color: var(--cancel-redesigned);
        }
    }

    &.success {
        border: 2px solid var(--save-redesigned);

        &:hover {
            color: var(--save-redesigned);
        }
    }
}

.filled {
    background: var(--light-bg-redesigned);
    border-radius: 40px;
    border: none;
    outline: none;
}

.disabled {
    opacity: 0.6;
    pointer-events: none;
}

.square {
    padding: 0;
}

.square.m {
    width: var(--font-line-m);
    height: var(--font-line-m);
}

.square.l {
    width: var(--font-line-l);
    height: var(--font-line-l);
}

.square.xl {
    width: var(--font-line-xl);
    height: var(--font-line-xl);
}

.m {
    font: var(--font-m-redesigned);
}

.l {
    font: var(--font-l-redesigned);
}

.xl {
    font: var(--font-xl-redesigned);
}

.withAddon {
    padding: 2px 15px;
}

.addonLeft,
.addonRight {
    display: flex;
    align-items: center;
    justify-content: center;

    & svg {
        color: var(--hint-redesigned);
    }
}

